

.resultHead {
    padding: 30px;
}

.result {
    padding: 15px;
    padding-left: 30px;
}

.forecastTile {
    background-color:#e0b6d8;
}

.high {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: green;
}

.searchHistory {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.asideContainer {
    background-color: #fed1cb;
}